@media screen and (max-width: 700px){
    header div.container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 10px;
        width: 190px;
        max-height: 60px;
    }
}
@media screen and (min-width:1000px){
    .filme-principal .descricao{
        width: 50%;
    }
}